*
{ /* this is to remove the text decoration by default on the whole page*/
text-decoration:none;

}
#navigation /*navigation bar design */
{
display:flex; 
width:98vw; /*vw - view width */
height:10vh; /*vh - view height */
background-color:grey;
align-items:center; /* alignment is in the center */
justify-content: space-around; /*alignment of the flexible elements (display: flex) which don't use all the space around them, displays them horizontally */
border:5px solid white; /* border of the navaigation bar*/
font-size:30px; /* size of the font of the elements in the navigation bar*/
}
body{ /* colour of body*/
    background-color:black;
}

#navigation > a{ /*we mean the elements with tag <a>  inside the navigation bar with id navigation*/
    color:black;
}
#navigation > a:hover{ /* this is what to happen when you hover on the navigation bar buttons*/
    background-color:white;
    margin-bottom:10px;
    transition:0.3em;
    font-size: 35px;
}

#contact-us /* this is for the contact us picture*/
{
    float:right;
    margin-right:30px;
    width:250px;
    height:200px;
    margin-top:30px;
}
h1,h2,h3,h4,h5,h6{ /*this is making any kind of a heading to be white */
    color:white;
}

.info /* this is for the roles' titles*/
{
    margin-left:30px;
    padding-top: 20px;
    
}

.small /* this is for the paragraphs under the title*/
{
    font-size:25px;
    margin-left:20px;
}
#arrow /* these are the setting for the arrow picture*/
{
    width:70px;
    height:70px;
    float:left;
    padding-top:15px;
    margin-right:20px;

}
#ss /*this is a way of putting the paragraphs with id - ss under the title */
{
    margin-left:90px;
}
#button12
{
    margin-left:555px;
     width:83px;
    height:40px;
    background-color:grey;
}
#button12:hover{
    color:white;
    background-color:blue;
    width:90px;
    height:40px;
    font-size:35px;
    
   
    
}