@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); /* Import google font */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins';
}
body
{
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}
.navbar
{
    display: flex;
    align-items: center;
    position: sticky;
    top: 10px;
    height: 10vh;
    width: 98.3vw;
    margin-left: 400px;
    text-decoration: none;
    font-size: 20px;
    font-family: Poppins;
    gap: 7vw;
    transition: 0.5s;
} 
.a1
{
    text-decoration: none;
    color: white;
    border-radius: 3px;
    transition: 0.3s;
}
.img
{
    height: 20vh;
    width: 19vw;
    margin-left: -300px;
}
.contact
{
    padding: 0.2vw 1vw;
    border: 0.2vw solid black;
}
.home
{
    margin-left: 70px;
    padding: 0.2vw 1em;
    border: 0.2vw solid black;
}
.learn
{
    padding: 0.2vw 1vw;
    border: 0.2vw solid black;
}
.about
{
    padding: 0.2vw 1vw;
    border: 0.2vw solid black;
}

.home:hover
{
    transform: translateY(-10px); /*margin-bottom*/
    border: 0.2vw solid whitesmoke;
}
.learn:hover
{
    transform: translateY(-10px); /*margin-bottom*/
    border: 0.2vw solid whitesmoke;
}
.about:hover
{
    transform: translateY(-10px); /*margin-bottom*/
    border: 0.2vw solid whitesmoke;;
}
.contact:hover
{
    transform: translateY(-10px); /*margin-bottom*/
    border: 0.2vw solid whitesmoke;
}
form
{
    background: #fff;
    flex-direction: column;
    display: flex;
    padding: 2vw 4vw;
    width: 90%;
    height: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin-left: 600px;
    margin-top: 100px;
}
form h3
{
    color: #555;
    font-weight: 800;
    border-radius: 10px;
}
form input, form textarea
{
    border: 0;
    margin: 12px 0;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;

}
form button
{
    padding: 15px;
    border-radius: 10px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
}
.form
{
    display: none;
}
.btn
{
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-left: 800px;
    margin-top: 150px;
    transition: 0.5s;
}
h1
{
    color: white;
    font-weight: 1000;
    margin-left: 700px;
    margin-top: 100px;
}
.h3
{
    color: white;
    font-weight: 1000;
    font-size: large;
    margin-left: 400px;
    margin-top: 50px;
}
.style1
{
    position: absolute;
    margin-top: -650px;
    margin-left: -450px;
    width: 469.15px;
    height: 410.47px;
    left: -80.31px;
    top: 396px;
    background: #7DF9FF;
    opacity: 0.5;
    filter: blur(125px);
    transform: rotate(43.14deg);
}
.style2
{
    position: absolute;
    width: 440px;
    height: 440px;
    left: 1250px;
    margin-left: 100px;
    margin-top: 200px;
    top: 80px;
    background: #7DF9FF;
    opacity: 0.5;
    filter: blur(125px);
}
.style3
{
    position: absolute;
    width: 469.15px;
    height: 410.47px;
    left: -80.31px;
    top: 396px;
    margin-top: 450px;
    margin-left: -500px;
    background: #7DF9FF;
    opacity: 0.5;
    filter: blur(125px);
    transform: rotate(43.14deg);
}